@charset "UTF-8";

// COLOR
$point-color-blue: #0f4be2;

// MIXIN
@mixin btn($ud, $lr, $bg, $fc, $bd, $br) {
  padding: $ud $lr;
  background-color: $bg;
  color: $fc;
  border: 1px solid $bd;
  border-radius: $br;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.025em;
}

// COMMON
.hide {
  position: absolute;
  left: -5000px;
}

.inner {
  width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

// HEADER
header {
  position: relative;
  width: 100%;
  height: 84px;

  h1, nav, .header-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    left: 3.073%; // 59px / 1920

    a {
      width: 47px;
      height: 35px;

      img {
        width: 100%;
      }
    }
  }

  nav {
    left: 50%;
    transform: translate(-50%, -50%);

    ul {

      li {
        display: inline-block;
        padding: 0 35px;
  
        a {
          font-size: 1.8rem;
          font-weight: 500;
          color: #333;
        }
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    right: 3.385%; // 65px / 1920
    z-index: 100;

    .search {
      position: relative;

      input[type=search] {
        width: 300px;
        height: 38px;
        padding: 0 40px 0 25px;
        font-size: 1.6rem;
        background-color: #eee;
        border-radius: 19px;
        outline: none;

        &::placeholder {
          color: #767676;
          font-size: 1.6rem;
        }

        &:focus {

          ~ .recommend-box {
            display: block;
          }
        }
      }

      button {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 19px;
        text-indent: -9999px;
        background: url(../img/ico-search.png) no-repeat center/contain;
      }

      .recommend-box {
        display: none;
        position: absolute;
        right: 0;
        top: 48px;
        width: 350px;
        height: 157px;
        padding: 20px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 7px 7px 17.2px 2.8px rgba(0, 0, 0, 0.2);

        h4 {
          margin-bottom: 18px;
          font-size: 1.8rem;
          font-weight: 600;
        }

        ul {
          font-size: 0;

          li {
            display: inline-block;
            margin: 0 9px 9px 0;

            a {
              display: inline-block;
              padding: 6px 15px;
              font-size: 1.4rem;
              font-weight: 600;
              color: #666;
              border: 1px solid #ccc;
              border-radius: 15px;
            }
          }
        }
      }
    }

    .trigger {
      position: relative;
      width: 22px;
      height: 14px;
      margin-left: 25px;
      cursor: pointer;

      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #111;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          top: 100%;
        }
      }
    }
  }
}

// VISUAL
.visual {
  width: 100%;
  height: 600px;
  background: url(../img/img-main-banner.png) no-repeat top/cover;

  .swiper-wrapper {
    height: 600px;

    .swiper-slide {

      .txt {
        margin-top: 175px;
        text-align: center;
        color: #fff;

        > span {
          @include btn(7px, 30px, transparent, inherit, #fff, 20px);
          display: inline-block;
          font-size: 2rem;
        }

        h2 {
          font-size: 5.5rem;
          margin: 28px 0 40px;
        }

        p {
          margin: 0 auto;
          font-size: 1.8rem;
          line-height: 1.5;

          span {
            display: block;
          }
        }
      }
    }
  }

  // SWIPER-ARROW
  .swiper-button-next, .swiper-button-prev {
    outline: none;

    &:after {
      content: '';
      width: 34px;
      height: 67px;
      background: url(../img/arrow-left.png) no-repeat center/contain;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;

    &:after {
      transform: rotate(180deg);
    }
  }

  // SWIPER-PAGINATION
  .control-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .swiper-pagination {
    position: static;
    width: fit-content;
    padding: 6px 13px;
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
    color: #fff;
  }

  .swiper-pagination-current {
    display: inline-block;
    width: 9.59px;
    font-weight: 700;
  }

  .line {
    display: inline-block;
    width: 1px;
    height: 8px;
    margin: 0 9px;
    background-color: #fff;
    vertical-align: 1px;
  }

  .control-btn {
    width: 30px;
    height: 30px;
    margin-left: 12px;
    background: rgba(0,0,0,.5) url(../img/pause.png) no-repeat center/6px;
    border-radius: 50%;
    cursor: pointer;

    &.play {
      background-image: url(../img/play.png);
      background-size: 9px;
      background-position: 12px;
    }
  }
}

// PROJECT
.project {
  padding: 140px 0 200px;
  text-transform: uppercase;
  text-align: center;

  .title {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .category {
    margin-bottom: 60px;
    font-size: 0;

    input[name=category-group] {
      display: none;
    }

    input[id=label-all]:checked ~ label[for=label-all], input[id=label-uiux]:checked ~ label[for=label-uiux], input[id=label-design]:checked ~ label[for=label-design], input[id=label-develop]:checked ~ label[for=label-develop] {
      color: #fff;
      background-color: #000;
    }

    label {
      @include btn(8px, 23px, transparent, inherit, #000, 20px);
      display: inline-block;
      margin: 0 8px;
      font-size: 1.8rem;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .content-wrap {
    display: flex;

    .content {
      width: calc(100%/4 - 27px);
      margin-right: 36px;

      &.invisible {
        display: none;
      }

      .image {
        width: 100%;
        height: 273px;
        margin-bottom: 25px;
        border-radius: 5px;
        background: url(../img/img-list01.png) no-repeat center/cover;
      }

      &:nth-child(2) {

        .image {
          background-image: url(../img/img-list02.png);
        }
      }

      &:nth-child(3) {

        .image {
          background-image: url(../img/img-list03.png);
        }
      }

      &:nth-child(4) {
        margin-right: 0;

        .image {
          background-image: url(../img/img-list04.png);
        }
      }

      .txt {
        text-align: left;

        h4 {
          font-size: 2.2rem;
          color: #000;
          margin-bottom: 10px;
        }
  
        p {
          line-height: 1.34;
          color: #999;
          margin-bottom: 70px;
        }
      }
    }
  }

  .btn-more {
    @include btn(21px, 40px, $point-color-blue, #fff, transparent, 31.5px);
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;

    &:after {
      content: '';
      display: inline-block;
      width: 31px;
      height: 16px;
      margin-left: 15px;
      background: url(../img/ico-arrow.png) no-repeat center/contain;
      vertical-align: -2px;
    }
  }
}

// FOOTER
footer {
  height: 80px;
  background-color: #424242;

  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .footer-logo {
    width: 136px;
    height: 18px;

    img {
      width: 100%;
      filter: invert(1);
    }
  }

  p {
    color: #fff;
  }

  .sns {

    li {
      display: inline-block;

      a {
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 13px;
        background: url(../img/ico-facebook.png) no-repeat center/contain;
        text-indent: -9999px;
      }

      &:nth-child(2) {

        a {
          background-image: url(../img/ico-youtube.png);
        }
      }

      &:nth-child(3) {

        a {
          background-image: url(../img/ico-instagram.png);
        }
      }
    }
  }
}

// POPUP
.popup {
  position: fixed;
  top: 735px;
  right: 30px;
  width: 78px;
  height: 78px;
  background-color: $point-color-blue;
  border-radius: 20px;
  box-shadow: 7px 7px 17.2px 2.8px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 7px;
    background: url(../img/ico-popup.png) no-repeat center/contain;
    filter: invert(1);
  }
}

.modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);

  &.active {
    display: flex;
  }

  .modal-content {
    width: 400px;
    height: 217px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    text-align: center;

    h3 {
      line-height: 157px;
      font-weight: 600;
      color: #111;
    }

    .close {
      width: 100%;
      height: 60px;
      background-color: $point-color-blue;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}




































