html {
  font-size: 62.5%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.025em;
}

.hide {
  position: absolute;
  left: -5000px;
}

.inner {
  width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

header {
  position: relative;
  width: 100%;
  height: 84px;
}
header h1, header nav, header .header-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header h1 {
  left: 3.073%;
}
header h1 a {
  width: 47px;
  height: 35px;
}
header h1 a img {
  width: 100%;
}
header nav {
  left: 50%;
  transform: translate(-50%, -50%);
}
header nav ul li {
  display: inline-block;
  padding: 0 35px;
}
header nav ul li a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}
header .header-right {
  display: flex;
  align-items: center;
  right: 3.385%;
  z-index: 100;
}
header .header-right .search {
  position: relative;
}
header .header-right .search input[type=search] {
  width: 300px;
  height: 38px;
  padding: 0 40px 0 25px;
  font-size: 1.6rem;
  background-color: #eee;
  border-radius: 19px;
  outline: none;
}
header .header-right .search input[type=search]::-moz-placeholder {
  color: #767676;
  font-size: 1.6rem;
}
header .header-right .search input[type=search]::placeholder {
  color: #767676;
  font-size: 1.6rem;
}
header .header-right .search input[type=search]:focus ~ .recommend-box {
  display: block;
}
header .header-right .search button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 19px;
  text-indent: -9999px;
  background: url(../img/ico-search.png) no-repeat center/contain;
}
header .header-right .search .recommend-box {
  display: none;
  position: absolute;
  right: 0;
  top: 48px;
  width: 350px;
  height: 157px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 7px 7px 17.2px 2.8px rgba(0, 0, 0, 0.2);
}
header .header-right .search .recommend-box h4 {
  margin-bottom: 18px;
  font-size: 1.8rem;
  font-weight: 600;
}
header .header-right .search .recommend-box ul {
  font-size: 0;
}
header .header-right .search .recommend-box ul li {
  display: inline-block;
  margin: 0 9px 9px 0;
}
header .header-right .search .recommend-box ul li a {
  display: inline-block;
  padding: 6px 15px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 15px;
}
header .header-right .trigger {
  position: relative;
  width: 22px;
  height: 14px;
  margin-left: 25px;
  cursor: pointer;
}
header .header-right .trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #111;
}
header .header-right .trigger span:nth-child(1) {
  top: 0;
}
header .header-right .trigger span:nth-child(2) {
  top: 50%;
}
header .header-right .trigger span:nth-child(3) {
  top: 100%;
}

.visual {
  width: 100%;
  height: 600px;
  background: url(../img/img-main-banner.png) no-repeat top/cover;
}
.visual .swiper-wrapper {
  height: 600px;
}
.visual .swiper-wrapper .swiper-slide .txt {
  margin-top: 175px;
  text-align: center;
  color: #fff;
}
.visual .swiper-wrapper .swiper-slide .txt > span {
  padding: 7px 30px;
  background-color: transparent;
  color: inherit;
  border: 1px solid #fff;
  border-radius: 20px;
  display: inline-block;
  font-size: 2rem;
}
.visual .swiper-wrapper .swiper-slide .txt h2 {
  font-size: 5.5rem;
  margin: 28px 0 40px;
}
.visual .swiper-wrapper .swiper-slide .txt p {
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.5;
}
.visual .swiper-wrapper .swiper-slide .txt p span {
  display: block;
}
.visual .swiper-button-next, .visual .swiper-button-prev {
  outline: none;
}
.visual .swiper-button-next:after, .visual .swiper-button-prev:after {
  content: "";
  width: 34px;
  height: 67px;
  background: url(../img/arrow-left.png) no-repeat center/contain;
}
.visual .swiper-button-prev {
  left: 0;
}
.visual .swiper-button-next {
  right: 0;
}
.visual .swiper-button-next:after {
  transform: rotate(180deg);
}
.visual .control-bar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
}
.visual .swiper-pagination {
  position: static;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 13px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #fff;
}
.visual .swiper-pagination-current {
  display: inline-block;
  width: 9.59px;
  font-weight: 700;
}
.visual .line {
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 9px;
  background-color: #fff;
  vertical-align: 1px;
}
.visual .control-btn {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  background: rgba(0, 0, 0, 0.5) url(../img/pause.png) no-repeat center/6px;
  border-radius: 50%;
  cursor: pointer;
}
.visual .control-btn.play {
  background-image: url(../img/play.png);
  background-size: 9px;
  background-position: 12px;
}

.project {
  padding: 140px 0 200px;
  text-transform: uppercase;
  text-align: center;
}
.project .title {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.project .category {
  margin-bottom: 60px;
  font-size: 0;
}
.project .category input[name=category-group] {
  display: none;
}
.project .category input[id=label-all]:checked ~ label[for=label-all], .project .category input[id=label-uiux]:checked ~ label[for=label-uiux], .project .category input[id=label-design]:checked ~ label[for=label-design], .project .category input[id=label-develop]:checked ~ label[for=label-develop] {
  color: #fff;
  background-color: #000;
}
.project .category label {
  padding: 8px 23px;
  background-color: transparent;
  color: inherit;
  border: 1px solid #000;
  border-radius: 20px;
  display: inline-block;
  margin: 0 8px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.project .content-wrap {
  display: flex;
}
.project .content-wrap .content {
  width: calc(25% - 27px);
  margin-right: 36px;
}
.project .content-wrap .content.invisible {
  display: none;
}
.project .content-wrap .content .image {
  width: 100%;
  height: 273px;
  margin-bottom: 25px;
  border-radius: 5px;
  background: url(../img/img-list01.png) no-repeat center/cover;
}
.project .content-wrap .content:nth-child(2) .image {
  background-image: url(../img/img-list02.png);
}
.project .content-wrap .content:nth-child(3) .image {
  background-image: url(../img/img-list03.png);
}
.project .content-wrap .content:nth-child(4) {
  margin-right: 0;
}
.project .content-wrap .content:nth-child(4) .image {
  background-image: url(../img/img-list04.png);
}
.project .content-wrap .content .txt {
  text-align: left;
}
.project .content-wrap .content .txt h4 {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 10px;
}
.project .content-wrap .content .txt p {
  line-height: 1.34;
  color: #999;
  margin-bottom: 70px;
}
.project .btn-more {
  padding: 21px 40px;
  background-color: #0f4be2;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 31.5px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}
.project .btn-more:after {
  content: "";
  display: inline-block;
  width: 31px;
  height: 16px;
  margin-left: 15px;
  background: url(../img/ico-arrow.png) no-repeat center/contain;
  vertical-align: -2px;
}

footer {
  height: 80px;
  background-color: #424242;
}
footer .footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
footer .footer-logo {
  width: 136px;
  height: 18px;
}
footer .footer-logo img {
  width: 100%;
  filter: invert(1);
}
footer p {
  color: #fff;
}
footer .sns li {
  display: inline-block;
}
footer .sns li a {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 13px;
  background: url(../img/ico-facebook.png) no-repeat center/contain;
  text-indent: -9999px;
}
footer .sns li:nth-child(2) a {
  background-image: url(../img/ico-youtube.png);
}
footer .sns li:nth-child(3) a {
  background-image: url(../img/ico-instagram.png);
}

.popup {
  position: fixed;
  top: 735px;
  right: 30px;
  width: 78px;
  height: 78px;
  background-color: #0f4be2;
  border-radius: 20px;
  box-shadow: 7px 7px 17.2px 2.8px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.popup:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 7px;
  background: url(../img/ico-popup.png) no-repeat center/contain;
  filter: invert(1);
}

.modal-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-wrap.active {
  display: flex;
}
.modal-wrap .modal-content {
  width: 400px;
  height: 217px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}
.modal-wrap .modal-content h3 {
  line-height: 157px;
  font-weight: 600;
  color: #111;
}
.modal-wrap .modal-content .close {
  width: 100%;
  height: 60px;
  background-color: #0f4be2;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */